/* ELEMENT SELECTORS */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
}



/* BOOTSTRAP SELECTORS */
.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
    padding-top: 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}



/* ID SELECTORS */
#title {
    background-color: #ff4c68;
    color: #fff;
}

#features {
    margin-top: 5rem;
    padding: 7% 15%;
}

#testimonials {
    color: #fff;
    background-color: #ef8172;
    text-align: center;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}



/* CLASS SELECTORS */
.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 50%;
    transform: rotate(25deg);
    text-align: center;
}

.icon-features {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon-features:hover {
    color: #ff4c68;
}

.p-features {
    color: #8f8f8f;
}

.col-features {
    text-align: center;
    padding: 7%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}